<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
  <td><a href="/create">create</a></td>
  <table class="table">
    <thead>
    <tr>
      <th>name</th>
      <th>singerName</th>
      <th>category</th>
      <th>file</th>
      <th>edit</th>
      <th>delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="music,loop : ${list}">
      <td th:text="${music.name}"></td>
      <td th:text="${music.singerName}"></td>
      <td th:text="${music.category.name}"></td>
      <td th:text="${music.file}"></td>
     <td><a th:href="@{/edit(index=${loop.index})}">edit</a></td>
     <td><a th:href="@{/delete(index=${loop.index})}">delete</a></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>